.Container {
  width: 100%;
  position: absolute;
  margin-left: 16%;
}

.ProgressBar {
  counter-reset: step;
  list-style-type: none;
}

.ProgressBar li {
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}

.ProgressBar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.ProgressBar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.ProgressBar li:first-child:after {
  content: none;
}

li.Active:before {
  background: #3aac5d;
  color: white;
}

.ProgressBar li.Active + li:after {
  background: #3aac5d;
}
