.Menu {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.842);
}

.Button {
    width: 60%;
    margin-top: 50px;
    border: 2px solid #555555;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 17px;
    padding: 8px;
}

 .Button:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 1200px) {
    .Button {
      font-size: 12px;
    }
  }

